* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    line-height: 1.6;
    background-color: #000;
    width: 100vw;
}

/* Header */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: #0a0a0a;
}

.logo-img img {
    width: 200px;
    margin-left: 70px;
}

.links-header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.links-header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;

    position: relative;
    padding-bottom: 5px;
}

.links-header nav ul li a:hover {
    color: #97bfe9;
}

.links-header nav ul li a::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #97bfe9;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

.links-header nav ul li a:hover::after {
    width: 100%;
}


.redes-sociais-header ul {
    display: flex;
    gap: 20px;
}

.redes-sociais-header ul li {
    list-style: none;
}

.redes-sociais-header ul li img {
    width: 30px;
}

/* Hero Section */
.hero {
    padding: 80px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-text {
    flex: 1;
    padding-right: 40px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-text h1 span {
    color: #36699e;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
    opacity: 0.9;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.btn {
    /* background-color: #36699e; */
    background-image: linear-gradient(to left, #31455c, #405d7c, #36699e);
    background-size: 500% 100%;
    animation: degrade-animado 1s infinite alternate;
    color: #fff;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
}

/* ATIVANDO A ANIMAÇÃO DO BOTAO */
@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

/* Benefits Section */
.benefits {
    padding: 60px 0;
    width: 100vw;
}

.benefits-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit-item {
    flex: 1;
    min-width: 300px;
    text-align: center;
    padding: 30px 20px;
    transition: transform 0.3s;
}

.benefit-item:hover {
    transform: translateY(-5px);
}

.benefit-icon {
    background-color: rgba(54, 105, 158, 0.2);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.benefit-icon i {
    color: #36699e;
    font-size: 36px;
}

.benefit-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.benefit-description {
    font-size: 16px;
    opacity: 0.8;
}

/* Services Section */
.services {
    padding: 150px 10 0px;
    background: linear-gradient(to bottom, #000000, #121212);
    height: 70vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.107);

    display: flex;
    justify-content: center;
    align-items: center;

}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    flex: 1;
    min-width: 300px;
    background-color: #121212;
    color: #eee;
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
    transition: all 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 15px 30px rgba(23, 58, 78, 0.3);
}

.service-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon i {
    color: #36699e;
    font-size: 40px;
}

.service-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.service-description {
    font-size: 17px;
    line-height: 1.5;
}

/* portfolio DESKTOP */
.portfolio-desktop {
    height: 120vh;
    width: 100vw;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titlePortfolio {
    margin-bottom: 30px;
}

.flex-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.flex-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
}

.box-site {
    text-align: center;
    background-color: #121212;
    border-radius: 6px;
    padding: 10px;

    width: 350px;
    height: 280px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.box-site img {
    width: 300px;
    border-radius: 6px;
}

.viewSite p {
    font-size: 18px;
    font-weight: 600;
}

.viewSite a {
    /* background-color: #36699e; */
    background-image: linear-gradient(to left, #31455c, #405d7c, #36699e);
    background-size: 500% 100%;
    animation: degrade-animado 1s infinite alternate;
    color: #fff;
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.viewSite a:hover {
    transform: translateY(-2px);
}

/* ATIVANDO A ANIMAÇÃO DO BOTAO */
@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

/* Portfolio MOBILE */
#portfolio-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: #0d0d0d;
    padding: 50px;
}

.titlePortfolio h1 {
    font-size: 33px;
    letter-spacing: 1px;
    color: #fff;
}

.flexCardPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
}

.portfolioCard {
    padding: 20px 40px;
    background-color: #131313;
    border-radius: 7px;
    transition: 0.2s;
}

.portfolioCard:hover {
    background-color: #181818;
}

.imgPortfolio {
    width: 300px;
    border-radius: 7px;
}

.infoCardPortfolio {
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.viewProject {
    text-align: center;
    margin-top: 10px;
}

.viewProject a {
    color: #fff;
    text-decoration: none;
}

/* Depoimentos Ativar quando tiver clientes*/
/* .testimonials {
    padding: 60px 20px;
    background-color: #080808;
    text-align: center;
}
  
.testimonials h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #fff;
}
  
.carousel {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    overflow: hidden;
}
  
.testimonial-slide {
    display: none;
    transition: opacity 1s ease-in-out;
}
  
.testimonial-slide.active {
    display: block;
}
  
.testimonial {
    background: #151515;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
  
.testimonial img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
  
.testimonial .stars {
    margin-bottom: 10px;
}
  
.testimonial .quote {
    font-style: italic;
    font-size: 19px;
    color: #ddd;
    margin-bottom: 10px;
}
  
.testimonial .author {
    font-weight: bold;
    font-size: 19px;
    color: #eee;
} */

/* Seção Portfólio */
.portifolionominal {
    padding: 60px 20px;
    text-align: center;
    background-color: #1B242B;
  }
  
  .portifolionominal h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #fff;
  }
  
  /* Carrossel */
  .carousel {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* Slides */
  .portifolionominal-slide {
    display: none;
    transition: opacity 1s ease-in-out;
  }
  
  .portifolionominal-slide.active {
    display: block;
  }
  
  /* Cartão de portfólio (semelhante ao .testimonial) */
  .portifolionominal .portifolionominal {
    background: #151515;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .portifolionominal img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #333;
  }
  
  /* Texto */
  .portifolionominal .quote {
    font-style: italic;
    font-size: 19px;
    color: #ddd;
    margin-bottom: 10px;
  }
  
  .portifolionominal .author {
    font-weight: bold;
    font-size: 19px;
    color: #eee;
  }
  
  /* Botão Visualizar Site */
  .viewProject a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #58A6FF;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .viewProject a:hover {
    background-color: #3d6ba0;
  }
  
  
/* Contact Section */
.contact {
    padding: 80px 0;
    background-color: #050505;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0.8;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.contact .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.form-group label {
    font-size: 17px;
}

.contact .form-group input,
.contact .form-group textarea {
    padding: 12px;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #0f0f0f;
    color: #fff;
    font-size: 16px;
    resize: none;
    width: 100%;
    outline: none;
    transition: 0.4s;
}

.form-group input:focus {
    border-color: #36699e;
    background-color: #151515;
    outline: none;
}

#mensagem:focus {
    border-color: #36699e;
    background-color: #151515;
    outline: none;
}

.contact .form-group textarea {
    height: 150px;
}

.contact .btn {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #36699e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact .btn:hover {
    background-color: #2d5682;
}

/* Accordions */
.width-accordion {
    width: 100vw;
    height: 70vh;
    padding: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.text-acordion h1 {
    font-size: 35px;
}

.accordion {
    max-width: 600px;
    margin: auto;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  }
  
  .accordion-item {
  }
  
  .accordion-header {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 18px 16px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    transition: background 0.3s ease, color 0.3s ease;

    border-radius: 5px;
  }
  
  .accordion-header:hover {
    background-color: #3a3a3a;
    color: #ffffff;
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    color: #dddddd;
    background-color: #1f1f1f;
    font-size: 0.95rem;
    line-height: 1.5;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  
  .accordion-content.open {
    padding: 16px;
    max-height: 300px;
    border-radius: 4px;
  }
  
  .icon {
    color: #aaa;
    font-size: 1rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon.rotate {
    transform: rotate(180deg);
    color: #58A6FF;
  }

/* Footer */
.footer {
    background-color: #050505;
    color: #eee;
    font-family: Arial, sans-serif;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    text-align: center;
}
  
.footer-logo-box {
    flex: 1 1 200px;
    margin-bottom: 20px;
}
  
.footer-logo {
    width: 200px;
    height: auto;
}
  
.footer-links,
.footer-social {
    flex: 1 1 200px;
    margin-bottom: 20px;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
.footer-links h3,
.footer-social h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
  
.footer-links ul {
    list-style: none;
    padding: 0;
}
  
.footer-links ul li a {
    color: #aaa;
    text-decoration: none;
    display: block;
    margin: 5px 0;
    transition: color 0.3s;
}
  
.footer-links ul li a:hover {
    color: #fff;
}
  
.footer-social .icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}
  
.footer-social .icons img:hover {
    transform: scale(1.1);
}
  
.footer-bottom {
    background-color: #0a0a0a;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* Responsivo */
@media (max-width: 600px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .accordion-header {
        font-size: 1rem;
        padding: 16px 12px;
    }
    
      .accordion-content {
        font-size: 0.9rem;
    }
    
}

.whatsapp-flutuante{
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 50px; /* Tamanho da caixa */
    height: 50px;
    background-color: #25D366; /* Fundo da bolinha (opcional) */
    border: 3px solid #25D366; /* Verde do WhatsApp */
    border-radius: 50%; /* Deixa redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; /* Animação suave */
    z-index: 999; /* Garante que fique por cima */
}

.whatsapp-flutuante:hover {
    transform: scale(1.15); /* Aumenta o botão em 15% */
}

.whatsapp-flutuante img {
    width: 30px;
    height: 30px;
}

.whatsapp-popup {
    position: fixed;
    bottom: 47px;
    right: 110px; /* ajustado para aparecer ao lado esquerdo do botão */
    background-color: #fff;
    border: 2px solid #25D366;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 14px;
    color: #000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    max-width: 300px;
    z-index: 9999;
    display: block; /* mostra sempre que carrega */
    animation: fadeIn 0.4s ease;
  }
  
  .close-popup {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 16px;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
/* Responsive */
@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .hero-text {
        padding-right: 0;
        margin-bottom: 40px;
    }
    
    .benefits-container, .services-container {
        flex-direction: column;
        align-items: center;
    }
    
    .benefit-item, .service-card {
        max-width: 500px;
        margin-bottom: 20px;
    }

    .contact form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 0;
        height: 80px;
    }
    
    .header-content {
        flex-direction: row;
        justify-content: center;
        gap: 0;
        padding: 0 20px;
    }
    
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 16px;
        margin-bottom: 0;
    }
    
    .logo-img {
        max-height: 300px;
        height: auto;
        width: auto;
        object-fit: contain;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    /* Animação do hamburger para X */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
    
    nav {
        display: none;
    }
    
    nav ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background-color: #1B242B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.3s ease;
    }
    
    nav ul.active {
        left: 0;
    }
    
    nav ul li {
        margin: 15px 0;
    }
    
    .hero {
        padding: 130px 0 60px;
    }
    
    .hero-text h1 {
        font-size: 32px;
    }
    
    .section-title {
        font-size: 28px;
    }
    
    .flexCardPortfolio {
        flex-direction: column;
        gap: 30px;
    }
}

.whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 999;
  }

  .whatsapp-text-box {
    position: relative;
    background-color: #ffffff;
    color: #333;
    padding: 10px 35px 10px 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    white-space: nowrap;
    animation: slideIn 0.6s ease forwards;
    opacity: 0;
  }

  @keyframes slideIn {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
  }

  .close-btn:hover {
    color: #000;
  }

  .whatsapp-button {
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: transform 0.3s ease;
  }

  .whatsapp-button:hover {
    transform: scale(1.1);
  }

  .whatsapp-icon {
    font-size: 28px;
  }


/* Para corrigir problema do portfolio no mobile */
@media (max-width: 500px) {
    .imgPortfolio {
        width: 100%;
        max-width: 300px;
    }
    
    .portfolioCard {
        padding: 15px;
    }
    
}